/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* -----------------------
== VARIABLES
----------------------- */
/* ----------------------------------------
== Author
------------------------------------------- */
/* line 21, ../sass/screen.scss */
body {
  background: url("../img/background-atmosphere.png") no-repeat bottom center white;
  font: 100% "dinpro", Helvetica, sans-serif;
  color: #3f3f3f;
}

/* line 26, ../sass/screen.scss */
h2 {
  margin-bottom: 35px;
  padding: 1% 0;
  text-align: center;
  font-size: 2em;
  border-top: 2px solid #3f3f3f;
  border-bottom: 2px solid #3f3f3f;
}

/* line 34, ../sass/screen.scss */
h3 {
  font-size: 1.5em;
}

/* line 37, ../sass/screen.scss */
p {
  margin: 1% 0;
}

/* line 40, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #3f3f3f;
}
/* line 43, ../sass/screen.scss */
a:hover, a .active {
  color: #eb837b;
}

/* line 47, ../sass/screen.scss */
input {
  display: block;
  width: 100%;
  margin: 1% 0;
  padding: 1%;
  border: 1px solid #3f3f3f;
  border-radius: 3px;
}

/* line 56, ../sass/screen.scss */
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #eb837b;
  /*mettre variable colorSite*/
}

/* line 60, ../sass/screen.scss */
label {
  margin-bottom: 2%;
}

/* line 63, ../sass/screen.scss */
input[type='submit'] {
  border: 0;
}

/* line 66, ../sass/screen.scss */
textarea {
  resize: vertical;
  height: 125px;
  margin: 1% 0;
  padding: 1%;
  border: 1px solid #3f3f3f;
  border-radius: 3px;
}

/* ----------------------
== FONTS
---------------------- */
@font-face {
  font-family: 'reseaux';
  src: url("../font/reseaux/reseaux.eot");
  src: url("../font/reseaux/reseaux.eot#iefix") format("embbed-opentype"), url("../font/reseaux/reseaux.woff") format("woff"), url("../font/reseaux/reseaux.ttf") format("truetype"), url("../font/reseaux/reseaux.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dinpro';
  src: url("../font/dinpro/dinpro-medium-webfont.eot");
  src: url("../font/dinpro/dinpro-medium-webfont.eot#iefix") format("embbed-opentype"), url("../font/dinpro/dinpro-medium-webfont.woff") format("woff"), url("../font/dinpro/dinpro-medium-webfont.ttf") format("truetype"), url("../font/dinpro/dinpro-medium-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ----------------------
== COMMON CLASSES + TITLES
---------------------- */
/* line 105, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 108, ../sass/screen.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 112, ../sass/screen.scss */
.inline-block {
  display: inline-block;
}

/* line 116, ../sass/screen.scss */
.button {
  display: block;
  width: 20%;
  margin: 0 auto;
  padding: 1.5%;
  border-radius: 3px;
  background-color: #eb837b;
  text-align: center;
  font-size: 1em;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
/* line 127, ../sass/screen.scss */
.button:hover {
  background-color: #e99385;
  text-decoration: none;
  color: #fff;
}
/* line 132, ../sass/screen.scss */
.button:visited {
  color: #fff;
}

/* line 136, ../sass/screen.scss */
#main {
  padding: 0 1%;
}

/* line 139, ../sass/screen.scss */
.facebook:before {
  content: "\e804";
}

/* line 140, ../sass/screen.scss */
.googleplus:before {
  content: "\e800";
}

/* line 141, ../sass/screen.scss */
.pinterest:before {
  content: "\e801";
}

/* line 142, ../sass/screen.scss */
.twitter:before {
  content: "\e802";
}

/* line 143, ../sass/screen.scss */
.youtube:before {
  content: "\e803";
}

/* ----------------------
== HEADER
---------------------- */
/* line 149, ../sass/screen.scss */
header.container {
  margin-bottom: 35px;
  padding: 0.5% 1%;
}
/* line 153, ../sass/screen.scss */
header.container .list-inline li {
  margin: 0;
  padding: 0 2.6%;
  border-right: 1px solid #3f3f3f;
}
/* line 158, ../sass/screen.scss */
header.container .list-inline li:last-child {
  border: none;
}
/* line 162, ../sass/screen.scss */
header.container .list-inline a:hover, header.container .list-inline a .active {
  color: #eb837b;
  border-bottom: 3px solid #eb837b;
}

/* line 169, ../sass/screen.scss */
#logo {
  width: 20%;
}
/* line 171, ../sass/screen.scss */
#logo a {
  display: block;
  height: 60px;
  background: url("../img/logo-atmosphere.png") no-repeat top left;
  text-indent: -9999px;
}
/* line 176, ../sass/screen.scss */
#logo a:hover {
  border: none;
}

/* line 182, ../sass/screen.scss */
#main-menu {
  width: 40%;
}

/* line 185, ../sass/screen.scss */
#login {
  width: 20%;
}

/* line 188, ../sass/screen.scss */
#mytickets {
  width: 10%;
  vertical-align: bottom;
  margin-bottom: 15px;
}
/* line 192, ../sass/screen.scss */
#mytickets a {
  display: block;
  height: 40px;
  background: url("../img/content/icons/tickets-icon.png") no-repeat top left;
  text-indent: -99999px;
}

/* line 199, ../sass/screen.scss */
#search {
  width: 8%;
}
/* line 201, ../sass/screen.scss */
#search a {
  display: block;
  height: 40px;
  background: url("../img/content/icons/search-icon.png") no-repeat top left;
  text-indent: -99999px;
}

/* line 208, ../sass/screen.scss */
#main-menu, #login, #search {
  vertical-align: bottom;
  margin-bottom: 25px;
}

/* ----------------------
== FOOTER
---------------------- */
/* line 217, ../sass/screen.scss */
footer {
  background-color: #fff;
  border-top: 1px solid #3f3f3f;
}
/* line 220, ../sass/screen.scss */
footer .container {
  padding: 1%;
}
/* line 223, ../sass/screen.scss */
footer small {
  display: inline-block;
  width: 33%;
  font-size: 0.75em;
  text-transform: uppercase;
  text-align: right;
}

/* line 231, ../sass/screen.scss */
#follow-us {
  width: 33%;
}
/* line 233, ../sass/screen.scss */
#follow-us p.inline-block {
  width: 33%;
}
/* line 236, ../sass/screen.scss */
#follow-us ul {
  width: 60%;
  margin-left: 5%;
}
/* line 239, ../sass/screen.scss */
#follow-us ul li {
  margin: 0 3%;
}
/* line 241, ../sass/screen.scss */
#follow-us ul li a {
  font-size: 0;
}
/* line 243, ../sass/screen.scss */
#follow-us ul li a:before {
  font-family: 'reseaux';
  font-size: 24px;
}

/* line 252, ../sass/screen.scss */
#contact-us {
  width: 33%;
  text-align: center;
}
/* line 255, ../sass/screen.scss */
#contact-us li:first-child {
  padding-right: 2.5%;
  border-right: 1px solid #3f3f3f;
}

/* ----------------------
== PAGE HOME
---------------------- */
/* line 266, ../sass/screen.scss */
#steps {
  margin: 45px 0;
}
/* line 268, ../sass/screen.scss */
#steps li {
  width: 20%;
  margin-right: 4%;
}
/* line 272, ../sass/screen.scss */
#steps img {
  display: block;
  width: 100%;
}
/* line 276, ../sass/screen.scss */
#steps p {
  text-align: center;
}
/* line 278, ../sass/screen.scss */
#steps p span {
  display: block;
}
/* line 282, ../sass/screen.scss */
#steps a.button {
  margin-top: 35px;
}

/* line 286, ../sass/screen.scss */
.advantage {
  width: 35%;
  margin-bottom: 40px;
}
/* line 289, ../sass/screen.scss */
.advantage h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 294, ../sass/screen.scss */
.advantage:nth-child(2) {
  margin-left: 65%;
}

/* ----------------------
== PAGE THEME
---------------------- */
/* line 305, ../sass/screen.scss */
#theme-content h3 {
  margin: 25px 0;
  text-align: center;
}

/* line 310, ../sass/screen.scss */
.place-thumbnail {
  position: relative;
}
/* line 312, ../sass/screen.scss */
.place-thumbnail img {
  display: block;
  width: 100%;
  height: 220px;
}
/* line 317, ../sass/screen.scss */
.place-thumbnail .title-place {
  position: absolute;
  top: 15px;
  left: 0;
}
/* line 322, ../sass/screen.scss */
.place-thumbnail .event-place {
  position: absolute;
  top: 25px;
  right: 5%;
}
/* line 327, ../sass/screen.scss */
.place-thumbnail .inline-block {
  width: 65%;
  vertical-align: top;
}
/* line 331, ../sass/screen.scss */
.place-thumbnail.informations {
  width: 28%;
  margin: 10px 0 0 2.8%;
}

/* line 336, ../sass/screen.scss */
.description-place {
  margin-top: 10px;
}
/* line 338, ../sass/screen.scss */
.description-place .button {
  width: 25%;
  margin-right: 0;
}

/* ----------------------
== PAGE FICHE-LIEU
---------------------- */
/* line 349, ../sass/screen.scss */
.fiche-content {
  width: 70%;
  margin: 0 auto;
}
/* line 352, ../sass/screen.scss */
.fiche-content h2, .fiche-content .tag {
  display: inline-block;
}
/* line 355, ../sass/screen.scss */
.fiche-content .button.share {
  margin-right: 0;
}

/* line 360, ../sass/screen.scss */
.fiche-title h2 {
  width: 70%;
  text-align: left;
}
/* line 364, ../sass/screen.scss */
.fiche-title p {
  width: 29%;
  text-align: right;
}

/* line 369, ../sass/screen.scss */
.informations {
  padding: 1.5% 2%;
  border: 1px solid #3f3f3f;
}

/* line 373, ../sass/screen.scss */
.fiche-description {
  margin-top: 40px;
}

/* ----------------------
== PAGE LA CLIQUE
---------------------- */
/* line 383, ../sass/screen.scss */
#team-content h3 {
  text-align: center;
}

/* line 387, ../sass/screen.scss */
.team-category {
  margin-bottom: 50px;
}
/* line 389, ../sass/screen.scss */
.team-category .inline-block {
  width: 20%;
  margin: 2%;
}
/* line 392, ../sass/screen.scss */
.team-category .inline-block img {
  width: 100%;
  margin-bottom: 15px;
}
/* line 396, ../sass/screen.scss */
.team-category .inline-block h4 {
  text-align: center;
  font-size: 1.25em;
}

/* ----------------------
== PAGE CONTACT
---------------------- */
/* line 409, ../sass/screen.scss */
#contact-content form {
  margin-top: 40px;
}
/* line 412, ../sass/screen.scss */
#contact-content label[for="message"], #contact-content label[for="subject"] {
  display: block;
  width: 100%;
}
/* line 416, ../sass/screen.scss */
#contact-content label[for="name"] {
  margin-right: 5%;
}
/* line 419, ../sass/screen.scss */
#contact-content textarea {
  display: block;
  width: 100%;
}
/* line 423, ../sass/screen.scss */
#contact-content .inline-block {
  width: 47%;
}
/* line 425, ../sass/screen.scss */
#contact-content .inline-block input {
  padding: 2%;
}

/* line 430, ../sass/screen.scss */
.form-content {
  width: 60%;
  margin: 0 auto;
}
/* line 433, ../sass/screen.scss */
.form-content .button {
  width: 35%;
  margin: 15px auto;
  padding: 2%;
  cursor: pointer;
}

/* line 443, ../sass/screen.scss */
.place img {
  max-width: 300px;
}

/* line 446, ../sass/screen.scss */
#map {
  height: 400px;
  width: 100%;
}

/* ----------------------------------------
== Helper
------------------------------------------- */
/* line 459, ../sass/screen.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 463, ../sass/screen.scss */
.clearfix:after {
  clear: both;
}

/* line 466, ../sass/screen.scss */
.lt-ie8 .clearfix {
  zoom: 1;
}

/* line 469, ../sass/screen.scss */
.list-inline {
  padding-left: 0;
  /*font-size: 1px;*/
  letter-spacing: -1px;
  list-style: none;
}

/* line 475, ../sass/screen.scss */
.list-inline > li {
  display: inline-block;
  /*font-size: 14em;*/
  letter-spacing: normal;
  vertical-align: middle;
}

/* line 481, ../sass/screen.scss */
.lt-ie8 .list-inline > li {
  display: inline;
  zoom: 1;
}

/* line 485, ../sass/screen.scss */
.list-inline > li {
  margin-right: 5px;
}

/* line 488, ../sass/screen.scss */
.list-inline > li:last-child {
  margin-right: 0;
}

/* ----------------------------------------
== Waiting page
------------------------------------------- */
/* line 496, ../sass/screen.scss */
#waiting > section {
  max-width: 480px;
  margin: 0 auto;
  padding: 5% 1% 1%;
  background-color: rgba(255, 255, 255, 0.6);
}

/* line 502, ../sass/screen.scss */
#waiting header {
  margin-bottom: 35px;
  text-align: center;
}

/*footer{
	margin: 10% 0 0;
	text-align: center;
	font-size: 0.9em;	
}*/
/* line 511, ../sass/screen.scss */
#waiting h1 {
  font-size: 0;
}

/* line 514, ../sass/screen.scss */
#waiting h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0 15px;
  text-align: center;
  font-family: 'dinpro';
}

/* line 522, ../sass/screen.scss */
#waiting h3 {
  font-size: 1em;
  text-align: center;
  font-family: 'dinpro';
}

/* line 528, ../sass/screen.scss */
#waiting p {
  font-size: 1em;
  margin-bottom: 15px;
}

/* line 532, ../sass/screen.scss */
#waiting p a {
  color: #dd6b70;
}

/* line 535, ../sass/screen.scss */
#waiting p a:hover {
  color: #dd6b70;
  transition: all 0.2s ease-in-out;
}

/* line 539, ../sass/screen.scss */
#waiting label {
  display: block;
  margin: 5% 0 1%;
  font-size: 1em;
}

/* line 544, ../sass/screen.scss */
#waiting input {
  display: block;
  width: 100%;
  padding: 2%;
  border: 1px #000 solid;
  border-radius: 3px;
  font-size: 1em;
}

/* line 552, ../sass/screen.scss */
#waiting input:focus {
  outline: none;
  border: 1px #dd6b70 solid;
}

/* line 556, ../sass/screen.scss */
#waiting input[type="submit"] {
  margin: 8% 0 4%;
  background-color: #dd6b70;
  border: 1px solid #dd6b70;
  text-align: center;
  color: #fff;
  font-size: 1.6em;
  cursor: pointer;
}

/* line 565, ../sass/screen.scss */
#waiting input[type="submit"]:hover {
  background-color: #dd6b70;
  border: 1px solid #dd6b70;
  transition: all 0.2s ease-in-out;
}

/* line 570, ../sass/screen.scss */
#reseaux {
  width: 46%;
  margin: 25px auto;
}

/* line 574, ../sass/screen.scss */
#reseaux li {
  display: inline-block;
  margin: 0 5%;
}

/* line 578, ../sass/screen.scss */
#reseaux a {
  display: block;
  font-size: 0;
  color: #dd6b70;
  text-decoration: none;
}

/* line 584, ../sass/screen.scss */
#reseaux a:hover {
  color: #ec6570;
}

/* line 587, ../sass/screen.scss */
#reseaux a:before {
  font-family: 'reseaux';
  font-size: 30px;
}
