/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* -----------------------
== VARIABLES
----------------------- */
/* ----------------------------------------
== Author
------------------------------------------- */
/* line 21, ../sass/screen.scss */
body {
  /*background: url("../img/background-atmosphere.png") no-repeat bottom center #fff;*/
  font: 100% "dinpro", Helvetica, sans-serif;
  color: #3f3f3f;
}

/* line 26, ../sass/screen.scss */
h2 {
  margin-bottom: 35px;
  padding: 1% 0;
  text-align: center;
  font-size: 2em;
  border-top: 2px solid #3f3f3f;
  border-bottom: 2px solid #3f3f3f;
}

/* line 34, ../sass/screen.scss */
h3 {
  font-size: 1.5em;
}

/* line 37, ../sass/screen.scss */
p {
  margin: 1% 0;
}

/* line 40, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #3f3f3f;
}
/* line 43, ../sass/screen.scss */
a:hover, a .active {
  color: #eb837b;
}

/* line 47, ../sass/screen.scss */
input {
  display: block;
  width: 100%;
  margin: 1% 0;
  padding: 1%;
  border: 1px solid #3f3f3f;
  border-radius: 3px;
  font-size: 1em;
}

/* line 57, ../sass/screen.scss */
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #eb837b;
  /*mettre variable colorSite*/
}

/* line 61, ../sass/screen.scss */
label {
  margin-bottom: 2%;
}

/* line 64, ../sass/screen.scss */
input[type='submit'] {
  border: 0;
}

/* line 67, ../sass/screen.scss */
textarea {
  resize: vertical;
  height: 125px;
  margin: 1% 0;
  padding: 1%;
  border: 1px solid #3f3f3f;
  border-radius: 3px;
}

/* ----------------------
== FONTS
---------------------- */
@font-face {
  font-family: 'reseaux';
  src: url("../font/reseaux/reseaux.eot");
  src: url("../font/reseaux/reseaux.eot#iefix") format("embbed-opentype"), url("../font/reseaux/reseaux.woff") format("woff"), url("../font/reseaux/reseaux.ttf") format("truetype"), url("../font/reseaux/reseaux.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dinpro';
  src: url("../font/dinpro/dinpro-medium-webfont.eot");
  src: url("../font/dinpro/dinpro-medium-webfont.eot#iefix") format("embbed-opentype"), url("../font/dinpro/dinpro-medium-webfont.woff") format("woff"), url("../font/dinpro/dinpro-medium-webfont.ttf") format("truetype"), url("../font/dinpro/dinpro-medium-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ----------------------
== COMMON CLASSES + TITLES
---------------------- */
/* line 106, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 109, ../sass/screen.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 113, ../sass/screen.scss */
.inline-block {
  display: inline-block;
}

/* line 117, ../sass/screen.scss */
.button {
  display: block;
  width: 20%;
  margin: 0 auto;
  padding: 1.5%;
  border-radius: 3px;
  background-color: #eb837b;
  text-align: center;
  font-size: 1em;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
/* line 128, ../sass/screen.scss */
.button:hover {
  background-color: #e99385;
  text-decoration: none;
  color: #fff;
}
/* line 133, ../sass/screen.scss */
.button:visited {
  color: #fff;
}

/* line 137, ../sass/screen.scss */
#main {
  padding: 0 1%;
}

/* line 140, ../sass/screen.scss */
.facebook:before {
  content: "\e804";
}

/* line 141, ../sass/screen.scss */
.googleplus:before {
  content: "\e800";
}

/* line 142, ../sass/screen.scss */
.pinterest:before {
  content: "\e801";
}

/* line 143, ../sass/screen.scss */
.twitter:before {
  content: "\e802";
}

/* line 144, ../sass/screen.scss */
.youtube:before {
  content: "\e803";
}

/* ----------------------
== HEADER
---------------------- */
/* line 150, ../sass/screen.scss */
header.container {
  margin-bottom: 35px;
  padding: 0.5% 1%;
}
/* line 154, ../sass/screen.scss */
header.container .list-inline li {
  margin: 0;
  padding: 0 2.6%;
  border-right: 1px solid #3f3f3f;
}
/* line 159, ../sass/screen.scss */
header.container .list-inline li:last-child {
  border: none;
}
/* line 163, ../sass/screen.scss */
header.container .list-inline a:hover, header.container .list-inline a .active {
  color: #eb837b;
  border-bottom: 3px solid #eb837b;
}

/* line 170, ../sass/screen.scss */
#logo {
  width: 20%;
}
/* line 172, ../sass/screen.scss */
#logo a {
  display: block;
  height: 60px;
  background: url("../img/logo-atmosphere.png") no-repeat top left;
  text-indent: -9999px;
}
/* line 177, ../sass/screen.scss */
#logo a:hover {
  border: none;
}

/* line 183, ../sass/screen.scss */
#main-menu {
  width: 40%;
}

/* line 186, ../sass/screen.scss */
#login {
  width: 20%;
}

/* line 189, ../sass/screen.scss */
#mytickets {
  width: 10%;
  vertical-align: bottom;
  margin-bottom: 15px;
}
/* line 193, ../sass/screen.scss */
#mytickets a {
  display: block;
  height: 40px;
  background: url("../img/content/icons/tickets-icon.png") no-repeat top left;
  text-indent: -99999px;
}

/* line 200, ../sass/screen.scss */
#search {
  width: 8%;
}
/* line 202, ../sass/screen.scss */
#search a {
  display: block;
  height: 40px;
  background: url("../img/content/icons/search-icon.png") no-repeat top left;
  text-indent: -99999px;
}

/* line 209, ../sass/screen.scss */
#main-menu, #login, #search {
  vertical-align: bottom;
  margin-bottom: 25px;
}

/* ----------------------
== FOOTER
---------------------- */
/* line 218, ../sass/screen.scss */
footer {
  margin-top: 50px;
  background-color: #fff;
  border-top: 1px solid #3f3f3f;
}
/* line 222, ../sass/screen.scss */
footer .container {
  padding: 1%;
}
/* line 225, ../sass/screen.scss */
footer small {
  display: inline-block;
  width: 33%;
  font-size: 0.75em;
  text-transform: uppercase;
  text-align: right;
}

/* line 233, ../sass/screen.scss */
#follow-us {
  width: 33%;
}
/* line 235, ../sass/screen.scss */
#follow-us p.inline-block {
  width: 33%;
}
/* line 238, ../sass/screen.scss */
#follow-us ul {
  width: 60%;
  margin-left: 5%;
}
/* line 241, ../sass/screen.scss */
#follow-us ul li {
  margin: 0 3%;
}
/* line 243, ../sass/screen.scss */
#follow-us ul li a {
  font-size: 0;
}
/* line 245, ../sass/screen.scss */
#follow-us ul li a:before {
  font-family: 'reseaux';
  font-size: 24px;
}

/* line 254, ../sass/screen.scss */
#contact-us {
  width: 33%;
  text-align: center;
}
/* line 257, ../sass/screen.scss */
#contact-us li:first-child {
  padding-right: 2.5%;
  border-right: 1px solid #3f3f3f;
}

/* ----------------------
== PAGE HOME
---------------------- */
/* line 268, ../sass/screen.scss */
#steps {
  margin: 45px 0;
}
/* line 270, ../sass/screen.scss */
#steps li {
  width: 20%;
  margin-right: 4%;
}
/* line 274, ../sass/screen.scss */
#steps img {
  display: block;
  width: 100%;
}
/* line 278, ../sass/screen.scss */
#steps p {
  text-align: center;
}
/* line 280, ../sass/screen.scss */
#steps p span {
  display: block;
}
/* line 284, ../sass/screen.scss */
#steps a.button {
  margin-top: 35px;
}

/* line 288, ../sass/screen.scss */
.advantage {
  width: 35%;
  margin-bottom: 40px;
}
/* line 291, ../sass/screen.scss */
.advantage h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 296, ../sass/screen.scss */
.advantage:nth-child(2) {
  margin-left: 65%;
}

/* ----------------------
== PAGE THEME
---------------------- */
/* line 307, ../sass/screen.scss */
#theme-content h3 {
  margin: 25px 0;
  text-align: center;
}

/* line 312, ../sass/screen.scss */
.place-thumbnail {
  position: relative;
}
/* line 314, ../sass/screen.scss */
.place-thumbnail img {
  display: block;
  width: 100%;
  height: 340px;
}
/* line 319, ../sass/screen.scss */
.place-thumbnail .title-place {
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #fff;
}
/* line 324, ../sass/screen.scss */
.place-thumbnail .title-place h4 {
  font-size: 2em;
}
/* line 326, ../sass/screen.scss */
.place-thumbnail .title-place h4 span {
  background-color: #ccc;
  margin-right: 5%;
  padding: 0 6%;
}
/* line 333, ../sass/screen.scss */
.place-thumbnail .event-place {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 25%;
  padding: 1%;
  background: #fff;
  border: 1px solid #3f3f3f;
  text-align: center;
}
/* line 342, ../sass/screen.scss */
.place-thumbnail .event-place time, .place-thumbnail .event-place h4 {
  font-size: 1.4em;
}
/* line 345, ../sass/screen.scss */
.place-thumbnail .event-place .button {
  width: 80%;
  margin-top: 10px;
  padding: 5% 1%;
}
/* line 351, ../sass/screen.scss */
.place-thumbnail .inline-block {
  width: 65%;
  vertical-align: top;
}
/* line 355, ../sass/screen.scss */
.place-thumbnail .inline-block.informations {
  width: 28%;
  margin: 10px 0 0 2.8%;
}

/* line 360, ../sass/screen.scss */
.description-place {
  margin-top: 10px;
}
/* line 362, ../sass/screen.scss */
.description-place .button {
  width: 25%;
  margin-right: 0;
}

/* ----------------------
== PAGE EVENEMENTS + PATELINS
---------------------- */
/* line 373, ../sass/screen.scss */
.filters li {
  cursor: pointer;
}

/* line 377, ../sass/screen.scss */
.all-thumbnails {
  margin-top: 35px;
}
/* line 379, ../sass/screen.scss */
.all-thumbnails li {
  display: inline-block;
  position: relative;
  width: 30%;
  height: inherit;
  overflow: hidden;
  margin-left: 2%;
}
/* line 387, ../sass/screen.scss */
.all-thumbnails li:hover p.description {
  bottom: 0;
  transition: all 0.2s ease-in-out;
}
/* line 392, ../sass/screen.scss */
.all-thumbnails li h3 {
  display: inline-block;
  width: 69%;
  margin-bottom: 10px;
}
/* line 397, ../sass/screen.scss */
.all-thumbnails li img {
  width: 100%;
}
/* line 400, ../sass/screen.scss */
.all-thumbnails li p.description {
  position: absolute;
  bottom: -105px;
  left: 0;
  background-color: #fff;
}

/* line 409, ../sass/screen.scss */
.tag {
  display: inline-block;
  width: 29%;
  text-align: right;
}

/* ----------------------
== PAGE FICHE-LIEU
---------------------- */
/* line 419, ../sass/screen.scss */
.fiche-content {
  width: 70%;
  margin: 0 auto;
}
/* line 422, ../sass/screen.scss */
.fiche-content h2 {
  display: inline-block;
  border: 0;
}
/* line 426, ../sass/screen.scss */
.fiche-content .button.share {
  margin-right: 0;
}

/* line 431, ../sass/screen.scss */
.fiche-title h2 {
  width: 70%;
  text-align: left;
}

/* line 436, ../sass/screen.scss */
.informations {
  padding: 1.5% 2%;
  border: 1px solid #3f3f3f;
}
/* line 439, ../sass/screen.scss */
.informations ul {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}

/* line 445, ../sass/screen.scss */
.fiche-description {
  margin-top: 40px;
}

/* ----------------------
== PAGE LA CLIQUE
---------------------- */
/* line 455, ../sass/screen.scss */
#team-content h3 {
  text-align: center;
}

/* line 459, ../sass/screen.scss */
.team-category {
  margin-bottom: 50px;
}
/* line 461, ../sass/screen.scss */
.team-category .inline-block {
  width: 20%;
  margin: 2%;
}
/* line 464, ../sass/screen.scss */
.team-category .inline-block img {
  width: 100%;
  margin-bottom: 15px;
}
/* line 468, ../sass/screen.scss */
.team-category .inline-block h4 {
  text-align: center;
  font-size: 1.25em;
}

/* ----------------------
== PAGE CONTACT
---------------------- */
/* line 481, ../sass/screen.scss */
#contact-content form {
  margin-top: 40px;
}
/* line 484, ../sass/screen.scss */
#contact-content label[for="message"], #contact-content label[for="subject"] {
  display: block;
  width: 100%;
}
/* line 488, ../sass/screen.scss */
#contact-content label[for="name"] {
  margin-right: 5%;
}
/* line 491, ../sass/screen.scss */
#contact-content textarea {
  display: block;
  width: 100%;
}
/* line 495, ../sass/screen.scss */
#contact-content .inline-block {
  width: 47%;
}
/* line 497, ../sass/screen.scss */
#contact-content .inline-block input {
  padding: 2%;
}

/* line 502, ../sass/screen.scss */
.form-content {
  width: 60%;
  margin: 0 auto;
}
/* line 505, ../sass/screen.scss */
.form-content .button {
  width: 35%;
  margin: 15px auto;
  padding: 2%;
  cursor: pointer;
}

/* ----------------------
== PAGE USER PROFIL
---------------------- */
/* line 519, ../sass/screen.scss */
#user-content .inline-block {
  width: 29%;
  margin: 2% 1.6%;
  vertical-align: top;
}
/* line 523, ../sass/screen.scss */
#user-content .inline-block h4 {
  margin-bottom: 15px;
  font-size: 1.25em;
}
/* line 527, ../sass/screen.scss */
#user-content .inline-block input {
  padding: 2%;
}
/* line 530, ../sass/screen.scss */
#user-content .inline-block .button {
  width: 65%;
  margin: 3% auto;
}

/* line 541, ../sass/screen.scss */
.place img {
  max-width: 300px;
}

/* line 544, ../sass/screen.scss */
#map {
  height: 400px;
  width: 100%;
}

/* ----------------------------------------
== Helper
------------------------------------------- */
/* line 557, ../sass/screen.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 561, ../sass/screen.scss */
.clearfix:after {
  clear: both;
}

/* line 564, ../sass/screen.scss */
.lt-ie8 .clearfix {
  zoom: 1;
}

/* line 567, ../sass/screen.scss */
.list-inline {
  padding-left: 0;
  /*font-size: 1px;*/
  letter-spacing: -1px;
  list-style: none;
}

/* line 573, ../sass/screen.scss */
.list-inline > li {
  display: inline-block;
  /*font-size: 14em;*/
  letter-spacing: normal;
  vertical-align: middle;
}

/* line 579, ../sass/screen.scss */
.lt-ie8 .list-inline > li {
  display: inline;
  zoom: 1;
}

/* line 583, ../sass/screen.scss */
.list-inline > li {
  margin-right: 5px;
}

/* line 586, ../sass/screen.scss */
.list-inline > li:last-child {
  margin-right: 0;
}

/* ----------------------------------------
== Waiting page
------------------------------------------- */
/* line 594, ../sass/screen.scss */
#waiting > section {
  max-width: 480px;
  margin: 0 auto;
  padding: 5% 1% 1%;
  background-color: rgba(255, 255, 255, 0.6);
}

/* line 600, ../sass/screen.scss */
#waiting header {
  margin-bottom: 35px;
  text-align: center;
}

/*footer{
	margin: 10% 0 0;
	text-align: center;
	font-size: 0.9em;	
}*/
/* line 609, ../sass/screen.scss */
#waiting h1 {
  font-size: 0;
}

/* line 612, ../sass/screen.scss */
#waiting h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0 15px;
  text-align: center;
  font-family: 'dinpro';
}

/* line 620, ../sass/screen.scss */
#waiting h3 {
  font-size: 1em;
  text-align: center;
  font-family: 'dinpro';
}

/* line 626, ../sass/screen.scss */
#waiting p {
  font-size: 1em;
  margin-bottom: 15px;
}

/* line 630, ../sass/screen.scss */
#waiting p a {
  color: #dd6b70;
}

/* line 633, ../sass/screen.scss */
#waiting p a:hover {
  color: #dd6b70;
  transition: all 0.2s ease-in-out;
}

/* line 637, ../sass/screen.scss */
#waiting label {
  display: block;
  margin: 5% 0 1%;
  font-size: 1em;
}

/* line 642, ../sass/screen.scss */
#waiting input {
  display: block;
  width: 100%;
  padding: 2%;
  border: 1px #000 solid;
  border-radius: 3px;
  font-size: 1em;
}

/* line 650, ../sass/screen.scss */
#waiting input:focus {
  outline: none;
  border: 1px #dd6b70 solid;
}

/* line 654, ../sass/screen.scss */
#waiting input[type="submit"] {
  margin: 8% 0 4%;
  background-color: #dd6b70;
  border: 1px solid #dd6b70;
  text-align: center;
  color: #fff;
  font-size: 1.6em;
  cursor: pointer;
}

/* line 663, ../sass/screen.scss */
#waiting input[type="submit"]:hover {
  background-color: #dd6b70;
  border: 1px solid #dd6b70;
  transition: all 0.2s ease-in-out;
}

/* line 668, ../sass/screen.scss */
#reseaux {
  width: 46%;
  margin: 25px auto;
}

/* line 672, ../sass/screen.scss */
#reseaux li {
  display: inline-block;
  margin: 0 5%;
}

/* line 676, ../sass/screen.scss */
#reseaux a {
  display: block;
  font-size: 0;
  color: #dd6b70;
  text-decoration: none;
}

/* line 682, ../sass/screen.scss */
#reseaux a:hover {
  color: #ec6570;
}

/* line 685, ../sass/screen.scss */
#reseaux a:before {
  font-family: 'reseaux';
  font-size: 30px;
}
