/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* -----------------------
== VARIABLES
----------------------- */
/* ----------------------------------------
== Author
------------------------------------------- */
/* line 25, ../sass/screen.scss */
body {
  font: 100% "dinpro", Helvetica, sans-serif;
  color: #63595d;
}

/* line 29, ../sass/screen.scss */
h2 {
  margin: 35px 0;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

/* line 35, ../sass/screen.scss */
h3 {
  font-weight: bold;
  font-size: 1.5em;
}

/* line 39, ../sass/screen.scss */
h4 {
  font-size: 1.25em;
}

/* line 42, ../sass/screen.scss */
p {
  margin: 1% 0;
}

/* line 45, ../sass/screen.scss */
a {
  color: #63595d;
  text-decoration: none;
}
/* line 48, ../sass/screen.scss */
a:hover, a :visited {
  color: #a769a8;
}

/* line 52, ../sass/screen.scss */
input {
  display: block;
  width: 100%;
  margin: 1% 0;
  padding: 2%;
  border: 1px solid #63595d;
  border-radius: 3px;
  font-size: 0.750em;
}

/* line 61, ../sass/screen.scss */
input.button {
  cursor: pointer;
}

/* line 65, ../sass/screen.scss */
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #a769a8;
  /*mettre variable colorSite*/
}

/* line 69, ../sass/screen.scss */
label {
  font-size: 1.25em;
  margin-bottom: 4%;
}

/* line 73, ../sass/screen.scss */
input[type='submit'] {
  border: 0;
}

/* line 76, ../sass/screen.scss */
textarea {
  resize: vertical;
  height: 125px;
  margin: 1% 0;
  padding: 1%;
  border: 1px solid #63595d;
  border-radius: 3px;
  font-size: 0.750em;
}

/* ----------------------
== FONTS
---------------------- */
@font-face {
  font-family: 'reseaux';
  src: url("../font/reseaux/reseaux.eot");
  src: url("../font/reseaux/reseaux.eot#iefix") format("embbed-opentype"), url("../font/reseaux/reseaux.woff") format("woff"), url("../font/reseaux/reseaux.ttf") format("truetype"), url("../font/reseaux/reseaux.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dinpro';
  src: url("../font/dinpro/dinpro-regular-webfont.eot");
  src: url("../font/dinpro/dinpro-regular-webfont.eot#iefix") format("embbed-opentype"), url("../font/dinpro/dinpro-regular-webfont.woff") format("woff"), url("../font/dinpro/dinpro-regular-webfont.ttf") format("truetype"), url("../font/dinpro/dinpro-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dinpro';
  src: url("../font/dinpro/dinpro-bold-webfont.eot");
  src: url("../font/dinpro/dinpro-bold-webfont.eot#iefix") format("embbed-opentype"), url("../font/dinpro/dinpro-bold-webfont.woff") format("woff"), url("../font/dinpro/dinpro-bold-webfont.ttf") format("truetype"), url("../font/dinpro/dinpro-bold-webfont.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'dinpro light';
  src: url("../font/dinpro/dinpro-light-webfont.eot");
  src: url("../font/dinpro/dinpro-light-webfont.eot#iefix") format("embbed-opentype"), url("../font/dinpro/dinpro-light-webfont.woff") format("woff"), url("../font/dinpro/dinpro-light-webfont.ttf") format("truetype"), url("../font/dinpro/dinpro-light-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ----------------------
== COMMON CLASSES + TITLES
---------------------- */
/* line 135, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 138, ../sass/screen.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 142, ../sass/screen.scss */
.inline-block {
  display: inline-block;
  vertical-align: top;
}

/* line 147, ../sass/screen.scss */
.button {
  display: block;
  width: 20%;
  margin: 0 auto;
  padding: 1.5%;
  border-radius: 3px;
  background-color: #a769a8;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
/* line 159, ../sass/screen.scss */
.button:hover {
  background-color: #b77ebb;
  text-decoration: none;
  color: #fff;
}
/* line 164, ../sass/screen.scss */
.button:visited {
  color: #fff;
}

/* line 168, ../sass/screen.scss */
#main {
  /*padding: 0 1%;*/
}

/* line 171, ../sass/screen.scss */
.facebook:before {
  content: "\e804";
}

/* line 172, ../sass/screen.scss */
.googleplus:before {
  content: "\e800";
}

/* line 173, ../sass/screen.scss */
.pinterest:before {
  content: "\e801";
}

/* line 174, ../sass/screen.scss */
.twitter:before {
  content: "\e802";
}

/* line 175, ../sass/screen.scss */
.youtube:before {
  content: "\e803";
}

/* line 177, ../sass/screen.scss */
.alert-error {
  color: white;
  background-color: #d0695b;
  text-align: center;
  padding: 2%;
}

/* line 184, ../sass/screen.scss */
.alert-success {
  color: white;
  background-color: #66a03f;
  text-align: center;
  padding: 2%;
}

/* ----------------------
== HEADER
---------------------- */
/* line 195, ../sass/screen.scss */
#head {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* line 201, ../sass/screen.scss */
header.container .list-inline li {
  margin: 0 2%;
}
/* line 205, ../sass/screen.scss */
header.container .list-inline a:hover, header.container .list-inline a .active {
  border-bottom: 5px solid #a769a8;
}

/* line 211, ../sass/screen.scss */
#logo {
  width: 20%;
}
/* line 213, ../sass/screen.scss */
#logo a {
  display: block;
  height: 45px;
  margin: 3% 0;
  background: url("../img/logo-atmosphere.png") no-repeat top left;
  text-indent: -9999px;
}
/* line 219, ../sass/screen.scss */
#logo a:hover {
  border: none;
}

/* line 225, ../sass/screen.scss */
header nav, header ul {
  height: 60px;
}
/* line 227, ../sass/screen.scss */
header nav a, header ul a {
  display: block;
  height: 55px;
  line-height: 55px;
  border-bottom: 5px solid #fff;
}
/* line 232, ../sass/screen.scss */
header nav a:hover, header nav a .active, header ul a:hover, header ul a .active {
  border-color: #a769a8;
}

/* line 237, ../sass/screen.scss */
#main-menu {
  width: 45%;
}

/* line 240, ../sass/screen.scss */
#login {
  width: 27%;
}
/* line 242, ../sass/screen.scss */
#login ul {
  width: 100%;
}
/* line 244, ../sass/screen.scss */
#login ul li {
  width: 40%;
  text-align: center;
  margin-right: 5%;
}
/* line 250, ../sass/screen.scss */
#login a.active {
  padding: 0 10%;
  background-color: #a769a8;
  color: #fff;
  border: none;
}
/* line 255, ../sass/screen.scss */
#login a.active:hover {
  background-color: #b77ebb;
  transition: all 0.2s ease-in-out;
}
/* line 260, ../sass/screen.scss */
#login input[type="submit"] {
  background: none;
  font-size: 0.875em;
  cursor: pointer;
}

/* line 266, ../sass/screen.scss */
#mytickets {
  position: relative;
  width: 5%;
  vertical-align: bottom;
  margin-bottom: 15px;
}
/* line 271, ../sass/screen.scss */
#mytickets a {
  display: block;
  height: 40px;
  background: url("../img/content/icons/tickets-icon.png") no-repeat right;
  text-indent: -99999px;
}
/* line 277, ../sass/screen.scss */
#mytickets #notif {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1% 12%;
  background-color: #a769a8;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
}

/* ----------------------
== FOOTER
---------------------- */
/* line 293, ../sass/screen.scss */
footer {
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
/* line 298, ../sass/screen.scss */
footer small {
  display: inline-block;
  width: 33%;
  font-size: 0.75em;
  text-transform: uppercase;
  text-align: right;
}

/* line 306, ../sass/screen.scss */
#follow-us {
  width: 33%;
}
/* line 308, ../sass/screen.scss */
#follow-us p.inline-block {
  width: 33%;
}

/* line 312, ../sass/screen.scss */
.social-networks {
  width: 60%;
  margin-left: 5%;
}
/* line 315, ../sass/screen.scss */
.social-networks li {
  margin: 2% 3% 0 3%;
}
/* line 317, ../sass/screen.scss */
.social-networks li a {
  font-size: 0;
}
/* line 319, ../sass/screen.scss */
.social-networks li a:before {
  font-family: 'reseaux';
  font-size: 19px;
}

/* line 326, ../sass/screen.scss */
#contact-us {
  width: 33%;
}
/* line 328, ../sass/screen.scss */
#contact-us li:first-child {
  padding-right: 15%;
}
/* line 331, ../sass/screen.scss */
#contact-us a {
  font-size: 0.750em;
}

/* ----------------------
== PAGE HOME
---------------------- */
/* line 341, ../sass/screen.scss */
#our-concept {
  height: 600px;
  background: url("../img/content/home/home-picture.jpg") no-repeat top center;
  color: #fff;
}
/* line 345, ../sass/screen.scss */
#our-concept h2 {
  margin: 0 0 20px;
  padding-top: 5%;
  line-height: 65px;
  text-align: left;
  text-transform: uppercase;
  font-size: 4.5em;
}
/* line 352, ../sass/screen.scss */
#our-concept h2 span {
  display: block;
  font-family: 'dinpro light', Helvetica, sans-serif;
}
/* line 357, ../sass/screen.scss */
#our-concept p {
  width: 45%;
  font-size: 2em;
  text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.43);
}
/* line 362, ../sass/screen.scss */
#our-concept .button {
  width: 25%;
  margin: 40px 0;
  font-weight: bold;
  font-size: 1.5em;
}

/* line 369, ../sass/screen.scss */
#steps {
  padding: 45px 0 60px;
  text-align: center;
}
/* line 370, ../sass/screen.scss */
#steps h3 {
  font-size: 2em;
}
/* line 375, ../sass/screen.scss */
#steps ul {
  margin-top: 50px;
}
/* line 377, ../sass/screen.scss */
#steps ul li {
  width: 20%;
  margin-right: 4%;
  padding-top: 10%;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: top center;
}
/* line 385, ../sass/screen.scss */
#steps ul #arrondissement {
  background-image: url("../img/content/home/arrondissement.png");
}
/* line 386, ../sass/screen.scss */
#steps ul #video {
  background-image: url("../img/content/home/video.png");
}
/* line 387, ../sass/screen.scss */
#steps ul #atmosphere {
  background-image: url("../img/content/home/atmosphere.png");
}
/* line 388, ../sass/screen.scss */
#steps ul #patelin {
  background-image: url("../img/content/home/patelin.png");
}
/* line 389, ../sass/screen.scss */
#steps ul p {
  font-size: 1.5em;
}
/* line 391, ../sass/screen.scss */
#steps ul p span {
  display: block;
  font-weight: bold;
  font-size: 2.5em;
}

/* line 399, ../sass/screen.scss */
#ours-advantages {
  padding: 55px 0;
  background-color: #dfc5e0;
}

/* line 403, ../sass/screen.scss */
.advantage {
  width: 41%;
  margin-bottom: 80px;
  padding-left: 12%;
  background-repeat: no-repeat;
  background-position: center left;
}
/* line 409, ../sass/screen.scss */
.advantage h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 414, ../sass/screen.scss */
.advantage:nth-child(2) {
  margin-left: 47%;
  padding-right: 12%;
  padding-left: 0;
  background-position: center right;
}

/* line 421, ../sass/screen.scss */
#partage {
  background-image: url("../img/content/home/partage.png");
}

/* line 422, ../sass/screen.scss */
#ambiance {
  background-image: url("../img/content/home/evenements.png");
}

/* line 423, ../sass/screen.scss */
#people {
  background-image: url("../img/content/home/notre-plus.png");
}

/* ----------------------
== PAGE THEME
---------------------- */
/* line 431, ../sass/screen.scss */
#theme-content h3 {
  margin: 25px 0;
  text-align: center;
}

/* line 436, ../sass/screen.scss */
.place-thumbnail {
  position: relative;
}
/* line 438, ../sass/screen.scss */
.place-thumbnail img {
  display: block;
  width: 100%;
  height: 340px;
}
/* line 443, ../sass/screen.scss */
.place-thumbnail .title-place {
  position: absolute;
  top: 15px;
  left: 0;
  width: 40%;
  background-color: #fff;
}
/* line 449, ../sass/screen.scss */
.place-thumbnail .title-place h4 {
  font-weight: bold;
  font-size: 2em;
}
/* line 452, ../sass/screen.scss */
.place-thumbnail .title-place h4 span {
  background-color: #ccc;
  margin-right: 3%;
  padding: 0 4%;
}
/* line 459, ../sass/screen.scss */
.place-thumbnail .event-place {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 25%;
  padding: 1%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
}
/* line 467, ../sass/screen.scss */
.place-thumbnail .event-place time, .place-thumbnail .event-place h4 {
  font-size: 1.4em;
}
/* line 470, ../sass/screen.scss */
.place-thumbnail .event-place time {
  font-weight: bold;
}
/* line 473, ../sass/screen.scss */
.place-thumbnail .event-place .button {
  width: 55%;
  margin-top: 10px;
  padding: 5% 1%;
}
/* line 479, ../sass/screen.scss */
.place-thumbnail .inline-block {
  width: 47%;
}
/* line 482, ../sass/screen.scss */
.place-thumbnail .inline-block.informations {
  width: 46%;
  margin: 10px 0 0 2.8%;
}
/* line 485, ../sass/screen.scss */
.place-thumbnail .inline-block.informations li {
  padding: 3% 10%;
}

/* line 490, ../sass/screen.scss */
.description-place {
  margin: 10px 0 75px;
}
/* line 492, ../sass/screen.scss */
.description-place p {
  margin-bottom: 20px;
}
/* line 495, ../sass/screen.scss */
.description-place .button {
  width: 35%;
  margin-right: 0;
}

/* ----------------------
== PAGE EVENEMENTS + PATELINS
---------------------- */
/* line 506, ../sass/screen.scss */
#filters li {
  width: 5%;
  margin-right: 3%;
  padding: 0.5% 1%;
  text-align: center;
  cursor: pointer;
}
/* line 512, ../sass/screen.scss */
#filters li:hover {
  background-color: #a769a8;
  color: #fff;
}
/* line 517, ../sass/screen.scss */
#filters .active {
  background-color: #a769a8;
  color: #fff;
}

/* line 522, ../sass/screen.scss */
.all-thumbnails {
  width: 75%;
  margin: 35px auto;
}
/* line 525, ../sass/screen.scss */
.all-thumbnails li {
  position: relative;
  width: 45%;
  height: inherit;
  overflow: hidden;
  margin: 5% 2%;
}
/* line 532, ../sass/screen.scss */
.all-thumbnails li:hover p.description {
  bottom: 0;
  transition: all 0.2s ease-in-out;
}
/* line 537, ../sass/screen.scss */
.all-thumbnails li h3 {
  display: inline-block;
  width: 69%;
  margin-bottom: 10px;
}
/* line 542, ../sass/screen.scss */
.all-thumbnails li img {
  width: 100%;
}
/* line 545, ../sass/screen.scss */
.all-thumbnails li p.description {
  position: absolute;
  bottom: -180px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding: 4% 5% 8%;
}

/* line 556, ../sass/screen.scss */
.tag {
  display: inline-block;
  width: 29%;
  text-align: right;
}

/* line 562, ../sass/screen.scss */
#Container .mix {
  display: none;
}

/* ----------------------
== PAGE FICHE-LIEU 
---------------------- */
/* line 570, ../sass/screen.scss */
.back {
  display: block;
  width: 4%;
  margin-top: 30px;
  padding: 1% 0;
  background-color: #63595d;
  color: #fff;
  font-size: 1.875em;
  text-align: center;
}

/* line 580, ../sass/screen.scss */
.fiche-content {
  width: 70%;
  margin: 0 auto;
}
/* line 583, ../sass/screen.scss */
.fiche-content h2 {
  display: inline-block;
  border: 0;
}
/* line 587, ../sass/screen.scss */
.fiche-content .button.share {
  width: 25%;
  margin-right: 0;
}
/* line 591, ../sass/screen.scss */
.fiche-content .button {
  margin-bottom: 40px;
}

/* line 597, ../sass/screen.scss */
.fiche-title h2 {
  width: 70%;
  text-align: left;
}

/* line 602, ../sass/screen.scss */
.informations {
  padding: 0 2%;
  border: 1px solid #a769a8;
}
/* line 605, ../sass/screen.scss */
.informations ul {
  width: 100%;
}
/* line 607, ../sass/screen.scss */
.informations ul li {
  display: inline-block;
  width: 29%;
  margin: 2% 0;
  padding: 2% 10%;
  background-repeat: no-repeat;
  background-position: top left;
}
/* line 615, ../sass/screen.scss */
.informations ul .address {
  background-image: url("../img/content/icons/adresse.png");
}
/* line 616, ../sass/screen.scss */
.informations ul .transport {
  background-image: url("../img/content/icons/transport.png");
}
/* line 617, ../sass/screen.scss */
.informations ul .time {
  background-image: url("../img/content/icons/horaire.png");
}
/* line 618, ../sass/screen.scss */
.informations ul .telephone {
  background-image: url("../img/content/icons/telephone.png");
}
/* line 619, ../sass/screen.scss */
.informations ul .website {
  background-image: url("../img/content/icons/website.png");
}
/* line 620, ../sass/screen.scss */
.informations ul .price {
  background-image: url("../img/content/icons/price.png");
}

/* line 624, ../sass/screen.scss */
.fiche-description h3 {
  margin-bottom: 15px;
}
/* line 627, ../sass/screen.scss */
.fiche-description p {
  line-height: 1.5em;
}

/* line 631, ../sass/screen.scss */
.pictures {
  margin: 40px 0;
}
/* line 633, ../sass/screen.scss */
.pictures img {
  display: block;
  width: 100%;
}

/* ----------------------
== PAGE FICHE EVENT
---------------------- */
/* line 642, ../sass/screen.scss */
#buyTicket ul {
  margin: 35px auto;
}
/* line 644, ../sass/screen.scss */
#buyTicket ul li {
  text-align: center;
  width: 33%;
  display: inline-block;
}
/* line 648, ../sass/screen.scss */
#buyTicket ul li p {
  margin: 20px 2%;
}
/* line 651, ../sass/screen.scss */
#buyTicket ul li p:first-child {
  font-weight: bold;
}
/* line 655, ../sass/screen.scss */
#buyTicket ul li:first-child {
  text-align: left;
}
/* line 658, ../sass/screen.scss */
#buyTicket ul li:last-child {
  text-align: right;
}

/* line 663, ../sass/screen.scss */
#buyTicket select {
  color: #a769a8;
  padding: 10px 3%;
}

/* ----------------------
== PAGE LA CLIQUE
---------------------- */
/* line 674, ../sass/screen.scss */
#team-content .team-category {
  margin-bottom: 50px;
}
/* line 676, ../sass/screen.scss */
#team-content .team-category .inline-block {
  width: 20%;
  margin: 2%;
  text-align: center;
}
/* line 680, ../sass/screen.scss */
#team-content .team-category .inline-block h3 {
  margin: 20px 0 10px;
}
/* line 683, ../sass/screen.scss */
#team-content .team-category .inline-block img {
  width: 100%;
}
/* line 688, ../sass/screen.scss */
#team-content .button {
  margin-bottom: 70px;
}

/* ----------------------
== PAGE CONTACT
---------------------- */
/* line 700, ../sass/screen.scss */
#contact-content form {
  margin-top: 40px;
}
/* line 703, ../sass/screen.scss */
#contact-content input {
  padding: 3%;
}
/* line 706, ../sass/screen.scss */
#contact-content input[id="subject"] {
  padding: 2%;
}
/* line 709, ../sass/screen.scss */
#contact-content label[for="message"], #contact-content label[for="subject"] {
  display: block;
  width: 100%;
}
/* line 713, ../sass/screen.scss */
#contact-content label[for="name"] {
  margin-right: 5%;
}
/* line 716, ../sass/screen.scss */
#contact-content textarea {
  display: block;
  width: 100%;
}
/* line 720, ../sass/screen.scss */
#contact-content .inline-block {
  width: 47%;
}

/* line 724, ../sass/screen.scss */
.form-content {
  width: 45%;
  margin: 0 auto;
}
/* line 727, ../sass/screen.scss */
.form-content label {
  display: block;
  margin-top: 25px;
}
/* line 731, ../sass/screen.scss */
.form-content .button {
  width: 50%;
  margin: 40px auto 70px;
  padding: 4%;
  cursor: pointer;
}
/* line 737, ../sass/screen.scss */
.form-content a {
  color: #a769a8;
}

/* ----------------------
== PAGE CONNEXION
---------------------- */
/* line 748, ../sass/screen.scss */
#connect-content .form-content {
  margin-top: 45px;
}

/* ----------------------
== PAGE INSCRIPTION
---------------------- */
/* line 757, ../sass/screen.scss */
#inscription-content p:last-child {
  margin-bottom: 70px;
}

/* ----------------------------------------
== PAGE ARRONDISSEMENT
------------------------------------------- */
/* line 767, ../sass/screen.scss */
#district-choice {
  position: relative;
  max-height: 746px;
  max-width: 1024px;
  margin: auto;
}
/* line 772, ../sass/screen.scss */
#district-choice img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
/* line 778, ../sass/screen.scss */
#district-choice p {
  width: 100%;
  height: 100%;
}
/* line 782, ../sass/screen.scss */
#district-choice a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
}
/* line 788, ../sass/screen.scss */
#district-choice #nineteenth, #district-choice #twentieth {
  position: absolute;
}
/* line 791, ../sass/screen.scss */
#district-choice #nineteenth {
  top: 13%;
  right: 28%;
  width: 15%;
  height: 23%;
}
/* line 797, ../sass/screen.scss */
#district-choice #twentieth {
  top: 37%;
  right: 25%;
  width: 12%;
  height: 20%;
}

/* line 805, ../sass/screen.scss */
#theme-choice .video-js {
  padding-top: 56.25%;
}

/* line 809, ../sass/screen.scss */
#theme-choice .vjs-fullscreen-control {
  display: none;
}

/* line 810, ../sass/screen.scss */
#theme-choice .vjs-volume-control {
  margin-right: 2%;
}

/* line 812, ../sass/screen.scss */
#theme-choice .vjsfullscreen {
  padding-top: 0px;
}

/* line 816, ../sass/screen.scss */
#theme-button ul > li {
  opacity: 0.5;
  display: block;
  float: left;
  width: 50%;
  cursor: pointer;
  position: relative;
}
/* line 823, ../sass/screen.scss */
#theme-button ul > li h3 {
  position: absolute;
  top: 2%;
  left: 10%;
  width: 70%;
  text-align: center;
  padding: 5%;
  background-color: #a769a8;
  color: #FFF;
}
/* line 833, ../sass/screen.scss */
#theme-button ul > li img {
  width: 100%;
}

/* line 838, ../sass/screen.scss */
#theme-button ul > li:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

/* line 843, ../sass/screen.scss */
#video-nature, #video-partage {
  position: relative;
}

/* line 847, ../sass/screen.scss */
.popup {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin: 10% 0;
  padding: 15% 0;
}

/* line 856, ../sass/screen.scss */
.popup p {
  width: 39%;
  margin: 0 5%;
}

/* line 861, ../sass/screen.scss */
.popup p a {
  width: 80%;
  padding: 5%;
}

/* line 866, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 870, ../sass/screen.scss */
.show {
  display: block;
}

/* ----------------------
== PAGE USER PROFIL
---------------------- */
/* line 880, ../sass/screen.scss */
#user-content .inline-block {
  width: 29%;
  margin: 2% 1.6%;
}
/* line 883, ../sass/screen.scss */
#user-content .inline-block h4 {
  margin-bottom: 15px;
  font-size: 1.25em;
}
/* line 887, ../sass/screen.scss */
#user-content .inline-block input {
  padding: 2%;
}
/* line 890, ../sass/screen.scss */
#user-content .inline-block .button {
  width: 65%;
  margin: 3% auto;
}

/* ----------------------
== PAGE VALIDATION
---------------------- */
/* line 902, ../sass/screen.scss */
#validation-content {
  width: 60%;
  margin: 0 auto;
}
/* line 905, ../sass/screen.scss */
#validation-content h3, #validation-content h4 {
  margin: 30px 0;
  text-align: center;
}
/* line 909, ../sass/screen.scss */
#validation-content .social-networks {
  margin: 0 auto 45px;
  text-align: center;
}
/* line 912, ../sass/screen.scss */
#validation-content .social-networks a:before {
  font-size: 30px;
}

/* line 917, ../sass/screen.scss */
#message-validation {
  width: 45%;
  margin: 0 auto 70px;
}

/* ----------------------
== PAGE ESPACE TICKET
---------------------- */
/* line 927, ../sass/screen.scss */
.purchase-content {
  width: 75%;
  margin: 0 auto;
}

/* line 931, ../sass/screen.scss */
.steps-purchase {
  margin-bottom: 70px;
  text-align: center;
  font-size: 2em;
  color: #fff;
}
/* line 936, ../sass/screen.scss */
.steps-purchase li {
  margin: 0 1%;
  padding: 1% 2%;
  background-color: #b77ebb;
  border-radius: 50%;
}
/* line 942, ../sass/screen.scss */
.steps-purchase .current {
  background-color: #a769a8;
}

/* line 947, ../sass/screen.scss */
#tickets-content h3 {
  margin-bottom: 25px;
}
/* line 950, ../sass/screen.scss */
#tickets-content h4 {
  margin-bottom: 15px;
  font-size: 1.25em;
}
/* line 954, ../sass/screen.scss */
#tickets-content .button {
  margin: 30px 0 70px 0;
}
/* line 957, ../sass/screen.scss */
#tickets-content .ticket {
  padding: 2% 0;
  border-top: 3px solid #a769a8;
}
/* line 960, ../sass/screen.scss */
#tickets-content .ticket .inline-block {
  width: 70%;
}
/* line 962, ../sass/screen.scss */
#tickets-content .ticket .inline-block label {
  width: 48%;
  margin: 0 1.6% 2% 0;
  font-size: 1em;
}
/* line 967, ../sass/screen.scss */
#tickets-content .ticket .inline-block input {
  margin: 2% 0;
  font-size: 1em;
}
/* line 971, ../sass/screen.scss */
#tickets-content .ticket .inline-block p.quantity {
  margin-bottom: 40px;
}
/* line 974, ../sass/screen.scss */
#tickets-content .ticket .inline-block p {
  margin-bottom: 25px;
}
/* line 978, ../sass/screen.scss */
#tickets-content .ticket .ticketPrice.inline-block {
  width: 29%;
  text-align: right;
}
/* line 981, ../sass/screen.scss */
#tickets-content .ticket .ticketPrice.inline-block p.price {
  margin-bottom: 15px;
  font-size: 1.5em;
  font-weight: bold;
}
/* line 986, ../sass/screen.scss */
#tickets-content .ticket .ticketPrice.inline-block a {
  text-transform: uppercase;
  font-size: 1em;
}
/* line 991, ../sass/screen.scss */
#tickets-content .ticket input[type="submit"] {
  margin-left: 0;
  width: 40%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 2%;
  cursor: pointer;
}
/* line 1000, ../sass/screen.scss */
#tickets-content #total-amount {
  text-align: right;
  font-size: 1.25em;
  font-weight: bold;
  color: #a769a8;
}

/* ----------------------
== PAGE FACTURATION
---------------------- */
/* line 1012, ../sass/screen.scss */
#billing-content {
  width: 80%;
  margin: 0 auto;
}
/* line 1015, ../sass/screen.scss */
#billing-content h3 {
  margin: 30px 0;
}
/* line 1018, ../sass/screen.scss */
#billing-content h4 {
  margin: 30px 0 15px;
  font-weight: bold;
  font-size: 1em;
}
/* line 1023, ../sass/screen.scss */
#billing-content .button {
  width: 45%;
  margin: 30px 0 70px;
  padding: 3%;
}

/* line 1029, ../sass/screen.scss */
#payment {
  width: 60%;
  margin-right: 13%;
}
/* line 1032, ../sass/screen.scss */
#payment form label {
  width: 47%;
  margin: 0 2% 3% 0;
  font-size: 1em;
}
/* line 1037, ../sass/screen.scss */
#payment form label[for="address"] {
  width: 100%;
}
/* line 1040, ../sass/screen.scss */
#payment form label #address, #payment form label #email {
  width: 97%;
  padding: 2% 1%;
}
/* line 1044, ../sass/screen.scss */
#payment form label input {
  margin-top: 2%;
  font-size: 1em;
  padding: 3%;
}
/* line 1049, ../sass/screen.scss */
#payment input[type="radio"] {
  width: 5%;
  cursor: pointer;
}
/* line 1054, ../sass/screen.scss */
#payment #payment-choice label {
  width: 20%;
}

/* line 1059, ../sass/screen.scss */
#order-summary {
  width: 25%;
  margin-top: 30px;
  padding: 5px;
  background-color: rgba(249, 196, 171, 0.5);
}
/* line 1064, ../sass/screen.scss */
#order-summary h3 {
  margin-top: 0;
}
/* line 1067, ../sass/screen.scss */
#order-summary p:last-child {
  margin: 5% 0;
  border-top: 2px solid #63595d;
  padding-top: 3%;
  text-transform: uppercase;
}
/* line 1073, ../sass/screen.scss */
#order-summary span {
  font-weight: bold;
}
/* line 1076, ../sass/screen.scss */
#order-summary #sum {
  font-size: 1.3em;
  margin: 10px 0;
}

/* line 1083, ../sass/screen.scss */
.place img {
  max-width: 300px;
}

/* line 1086, ../sass/screen.scss */
#map {
  height: 400px;
  width: 100%;
}

/* ----------------------------------------
== Helper
------------------------------------------- */
/* line 1096, ../sass/screen.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 1100, ../sass/screen.scss */
.clearfix:after {
  clear: both;
}

/* line 1103, ../sass/screen.scss */
.lt-ie8 .clearfix {
  zoom: 1;
}

/* line 1106, ../sass/screen.scss */
.list-inline {
  padding-left: 0;
  /*font-size: 1px;*/
  letter-spacing: -1px;
  list-style: none;
}

/* line 1112, ../sass/screen.scss */
.list-inline > li {
  display: inline-block;
  /*font-size: 14em;*/
  letter-spacing: normal;
  vertical-align: middle;
}

/* line 1118, ../sass/screen.scss */
.lt-ie8 .list-inline > li {
  display: inline;
  zoom: 1;
}

/* line 1122, ../sass/screen.scss */
.list-inline > li {
  margin-right: 5px;
}

/* line 1125, ../sass/screen.scss */
.list-inline > li:last-child {
  margin-right: 0;
}

/* ----------------------------------------
== Waiting page
------------------------------------------- */
/* line 1137, ../sass/screen.scss */
#waiting > section {
  max-width: 480px;
  margin: 0 auto;
  padding: 5% 1% 1%;
  background-color: rgba(255, 255, 255, 0.6);
}

/* line 1143, ../sass/screen.scss */
#waiting header {
  margin-bottom: 35px;
  text-align: center;
}

/*footer{
	margin: 10% 0 0;
	text-align: center;
	font-size: 0.9em;	
}*/
/* line 1152, ../sass/screen.scss */
#waiting h1 {
  font-size: 0;
}

/* line 1155, ../sass/screen.scss */
#waiting h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0 15px;
  text-align: center;
  font-family: 'dinpro';
}

/* line 1163, ../sass/screen.scss */
#waiting h3 {
  font-size: 1em;
  text-align: center;
  font-family: 'dinpro';
}

/* line 1169, ../sass/screen.scss */
#waiting p {
  font-size: 1em;
  margin-bottom: 15px;
}

/* line 1173, ../sass/screen.scss */
#waiting p a {
  color: #dd6b70;
}

/* line 1176, ../sass/screen.scss */
#waiting p a:hover {
  color: #dd6b70;
  transition: all 0.2s ease-in-out;
}

/* line 1180, ../sass/screen.scss */
#waiting label {
  display: block;
  margin: 5% 0 1%;
  font-size: 1em;
}

/* line 1185, ../sass/screen.scss */
#waiting input {
  display: block;
  width: 100%;
  padding: 2%;
  border: 1px #000 solid;
  border-radius: 3px;
  font-size: 1em;
}

/* line 1193, ../sass/screen.scss */
#waiting input:focus {
  outline: none;
  border: 1px #dd6b70 solid;
}

/* line 1197, ../sass/screen.scss */
#waiting input[type="submit"] {
  margin: 8% 0 4%;
  background-color: #dd6b70;
  border: 1px solid #dd6b70;
  text-align: center;
  color: #fff;
  font-size: 1.6em;
  cursor: pointer;
}

/* line 1206, ../sass/screen.scss */
#waiting input[type="submit"]:hover {
  background-color: #dd6b70;
  border: 1px solid #dd6b70;
  transition: all 0.2s ease-in-out;
}

/* line 1211, ../sass/screen.scss */
#reseaux {
  width: 46%;
  margin: 25px auto;
}

/* line 1215, ../sass/screen.scss */
#reseaux li {
  display: inline-block;
  margin: 0 5%;
}

/* line 1219, ../sass/screen.scss */
#reseaux a {
  display: block;
  font-size: 0;
  color: #dd6b70;
  text-decoration: none;
}

/* line 1225, ../sass/screen.scss */
#reseaux a:hover {
  color: #ec6570;
}

/* line 1228, ../sass/screen.scss */
#reseaux a:before {
  font-family: 'reseaux';
  font-size: 30px;
}
