/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/* -----------------------
== VARIABLES
----------------------- */
$font-stack: 'dinpro', Helvetica, sans-serif;

$textColor: #63595D;
$colorSite: #a769a8;
$colorHover: #b77eBB;
$colorSucces: #66a03f;
$textColorAlert: #ffffff;
$colorError: #d0695b;



/* ----------------------------------------
== Author
------------------------------------------- */
body {
	font: 100% $font-stack;
	color: $textColor;
}
h2{
	margin: 35px 0;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}
h3{
	font-weight: bold;
	font-size: 1.5em;
}
h4{
	font-size: 1.25em;
}
p{
	margin: 1% 0;
}
a{
	color: $textColor;
	text-decoration: none;
	&:hover, :visited{
		color: $colorSite;
	}
}
input{
	display: block;
	width: 100%;
	margin: 1% 0;
	padding: 2%;
	border: 1px solid $textColor;
	border-radius: 3px;
	font-size: 0.750em;
}
input.button{
	cursor: pointer;
}	
input:focus,
textarea:focus{
	outline: none;
	border: 1px solid $colorSite; /*mettre variable colorSite*/
}
label{
	font-size: 1.25em;
	margin-bottom: 4%;
}
input[type='submit']{
	border: 0;
}
textarea{
	resize: vertical;
	height: 125px;
	margin: 1% 0;
	padding: 1%;
	border: 1px solid $textColor;
	border-radius: 3px;
	font-size: 0.750em;
}


/* ----------------------
== FONTS
---------------------- */
@font-face{
	font-family: 'reseaux';
	src: url('../font/reseaux/reseaux.eot');
	src: url('../font/reseaux/reseaux.eot#iefix') format('embbed-opentype'),
		 url('../font/reseaux/reseaux.woff') format('woff'),
		 url('../font/reseaux/reseaux.ttf') format('truetype'),
		 url('../font/reseaux/reseaux.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'dinpro';
	src: url('../font/dinpro/dinpro-regular-webfont.eot');
	src: url('../font/dinpro/dinpro-regular-webfont.eot#iefix') format('embbed-opentype'),
		 url('../font/dinpro/dinpro-regular-webfont.woff') format('woff'),
		 url('../font/dinpro/dinpro-regular-webfont.ttf') format('truetype'),
		 url('../font/dinpro/dinpro-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'dinpro';
	src: url('../font/dinpro/dinpro-bold-webfont.eot');
	src: url('../font/dinpro/dinpro-bold-webfont.eot#iefix') format('embbed-opentype'),
		 url('../font/dinpro/dinpro-bold-webfont.woff') format('woff'),
		 url('../font/dinpro/dinpro-bold-webfont.ttf') format('truetype'),
		 url('../font/dinpro/dinpro-bold-webfont.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'dinpro light';
	src: url('../font/dinpro/dinpro-light-webfont.eot');
	src: url('../font/dinpro/dinpro-light-webfont.eot#iefix') format('embbed-opentype'),
		 url('../font/dinpro/dinpro-light-webfont.woff') format('woff'),
		 url('../font/dinpro/dinpro-light-webfont.ttf') format('truetype'),
		 url('../font/dinpro/dinpro-light-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* ----------------------
== COMMON CLASSES + TITLES
---------------------- */
.clear{
	clear:both;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.inline-block{
	display: inline-block;
	vertical-align: top;
}

.button{
	display: block;
	width: 20%;
	margin: 0 auto;
	padding: 1.5%;
	border-radius: 3px;
	background-color: $colorSite;
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	color: #fff;
	transition: all 0.2s ease-in-out;
	&:hover{
		background-color: $colorHover;
		text-decoration: none;
		color: #fff;
	}
	&:visited{
		color: #fff;
	}
}
#main{
	/*padding: 0 1%;*/
}
.facebook:before { content: "\e804"; }
.googleplus:before { content: "\e800"; }
.pinterest:before {	content: "\e801"; }
.twitter:before { content: "\e802"; }
.youtube:before { content: "\e803"; }

.alert-error {
	color: $textColorAlert;
	background-color: $colorError;
	text-align: center;
	padding: 2%;
}

.alert-success {
	color: $textColorAlert;
	background-color: $colorSucces;
	text-align: center;
	padding: 2%;
}


/* ----------------------
== HEADER
---------------------- */
#head{
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
header.container{
	.list-inline{
		li{
			margin: 0 2%;
		}
		a{
			&:hover, .active{
				border-bottom: 5px solid $colorSite;
			}
		}
	}
}
#logo{
	width: 20%;
	a{
		display: block;
		height: 45px;
		margin: 3% 0;
		background: url('../img/logo-atmosphere.png') no-repeat top left;
		text-indent: -9999px;
		&:hover{
			border: none;
		}
	}

}
header nav, header ul{
	height: 60px;
	a{
		display: block;
		height: 55px;
		line-height: 55px;
		border-bottom: 5px solid #fff;
		&:hover, .active{
			border-color: $colorSite;
		}
	}
}
#main-menu{
	width: 45%;
}
#login{
	width: 27%;
	ul{
		width: 100%;
		li{
			width: 40%;
			text-align: center;
			margin-right: 5%;
		}
	}
	a.active{
		padding: 0 10%;
		background-color: $colorSite;
		color: #fff;
		border: none;
		&:hover{
			background-color: $colorHover;
			transition: all 0.2s ease-in-out;
		}
	}
	input[type="submit"]{
		background: none;
		font-size: 0.875em;
		cursor: pointer;
	}
}
#mytickets{
	position: relative;
	width: 5%;
	vertical-align: bottom;
	margin-bottom: 15px;
	a{
		display: block;
		height: 40px;
		background: url('../img/content/icons/tickets-icon.png') no-repeat right;
		text-indent: -99999px;
	}
	#notif{
		position: absolute;
		top: 0;
		left: 0;
		padding: 1% 12%;
		background-color: $colorSite;
		border-radius: 50%;
		color: #fff;
		font-weight: bold;
	}
}


/* ----------------------
== FOOTER
---------------------- */
footer{
	height: 40px;
	line-height: 40px;
	background-color: #fff;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
	small{
		display: inline-block;
		width: 33%;
		font-size: 0.75em;
		text-transform: uppercase;
		text-align: right;
	}
}
#follow-us{
	width: 33%;
	p.inline-block{
		width: 33%;
	}		
}
.social-networks{
	width: 60%;
	margin-left: 5%;
	li{
		margin: 2% 3% 0 3%;
		a{
			font-size: 0;
			&:before{
				font-family: 'reseaux';
				font-size: 19px;
			}
		}
	}
}
#contact-us{
	width: 33%;
	li:first-child{
		padding-right: 15%;
	}
	a{
			font-size: 0.750em;
		}
}



/* ----------------------
== PAGE HOME
---------------------- */
#our-concept{
	height: 600px;
	background: url('../img/content/home/home-picture.jpg') no-repeat top center;
	color: #fff;
	h2{
		margin:0 0 20px;
		padding-top: 5%;
		line-height: 65px;
		text-align: left;
		text-transform: uppercase;
		font-size: 4.5em;
		span{
			display: block;
			font-family: 'dinpro light', Helvetica, sans-serif;
		}
	}
	p{
		width: 45%;
		font-size: 2em;
		text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.43);
	}
	.button{
		width: 25%;
		margin: 40px 0;
		font-weight: bold;
		font-size: 1.5em;
	}
}
#steps{
	h3{
		font-size: 2em;
	}
	padding: 45px 0 60px;
	text-align: center;
	ul{
		margin-top: 50px;
		li{
			width: 20%;
			margin-right: 4%;
			padding-top: 10%;
			vertical-align: top;
			background-repeat: no-repeat;
			background-position: top center;
		}
		#arrondissement{ background-image: url('../img/content/home/arrondissement.png'); }
		#video{ background-image: url('../img/content/home/video.png'); }
		#atmosphere{ background-image: url('../img/content/home/atmosphere.png'); }
		#patelin{ background-image: url('../img/content/home/patelin.png'); }
		p{
			font-size: 1.5em;
			span{
				display: block;
				font-weight: bold;
				font-size: 2.5em;
			}
		}
	}
}
#ours-advantages{
	padding: 55px 0;
	background-color: #dfc5e0;
}
.advantage{
	width: 41%;
	margin-bottom: 80px;
	padding-left: 12%;
	background-repeat: no-repeat;
	background-position: center left;
	h3{
		margin-bottom: 15px;
		font-weight: bold;
		font-size: 1.5em;
	}
	&:nth-child(2){
		margin-left: 47%;
		padding-right: 12%;
		padding-left: 0;
		background-position: center right;
	}
}
#partage{ background-image: url('../img/content/home/partage.png'); }
#ambiance{ background-image: url('../img/content/home/evenements.png'); }
#people{ background-image: url('../img/content/home/notre-plus.png'); }



/* ----------------------
== PAGE THEME
---------------------- */
#theme-content{
	h3{
		margin: 25px 0;
		text-align: center;
	}
}
.place-thumbnail{
	position: relative;
	img{
		display: block;
		width: 100%;
		height: 340px;
	}
	.title-place{
		position: absolute;
		top: 15px;
		left: 0;
		width: 40%;
		background-color: #fff;
		h4{
			font-weight: bold;
			font-size: 2em;
			span{
				background-color: #ccc;
				margin-right: 3%;
				padding: 0 4%;
			}
		}
	}
	.event-place{
		position: absolute;
		top: 20%;
		right: 5%;
		width: 25%;
		padding: 1%;
		background: rgba(255,255,255,0.8);
		text-align: center;
		time, h4{
			font-size: 1.4em;
		}
		time{
			font-weight: bold;
		}
		.button{
			width: 55%;
			margin-top: 10px;
			padding: 5% 1%;
		}
	}
	.inline-block{
		width: 47%;
	}
	.inline-block.informations{
		width: 46%;
		margin: 10px 0 0 2.8%;
		li{
			padding: 3% 10%;
		}
	}
}
.description-place{
	margin: 10px 0 75px;
	p{
		margin-bottom: 20px;
	}
	.button{
		width: 35%;
		margin-right: 0;
	}
}


/* ----------------------
== PAGE EVENEMENTS + PATELINS
---------------------- */
#filters{
	li{
		width: 5%;
		margin-right: 3%;
		padding: 0.5% 1%;
		text-align: center;
		cursor: pointer;
		&:hover{
			background-color: $colorSite;
			color: #fff;
		}
	}
	.active{
		background-color: $colorSite;
		color: #fff;
	}	
}
.all-thumbnails{
	width: 75%;
	margin: 35px auto;
	li{
		position: relative;
		width: 45%;
		height: inherit;
		overflow: hidden;
		margin: 5% 2%;
		&:hover{
			p.description{
				bottom: 0;
				transition: all 0.2s ease-in-out;
			}
		}
		h3{
			display: inline-block;
			width: 69%;
			margin-bottom: 10px;
		}
		img{
			width: 100%;
		}
		p.description{
			position: absolute;
			bottom: -180px;
			left: 0;
			background-color: rgba(255,255,255,0.8);
			margin: 0;
			padding: 4% 5% 8%;
		}
	}

}
.tag{
	display: inline-block;
	width: 29%;
	text-align: right;
}

#Container .mix{
	display: none;
}


/* ----------------------
== PAGE FICHE-LIEU
---------------------- */
.back{
	display: block;
	width: 4%;
	margin-top: 30px;
	padding: 1% 0;
	background-color: #63595d;
	color: #fff;
	font-size: 1.875em;
	text-align: center;
}
.fiche-content{
	width: 70%;
	margin: 0 auto;
	h2{
		display: inline-block;
		border: 0;
	}
	.button.share{
		width: 25%;
		margin-right: 0;
	}
	.button{
		margin-bottom: 40px;
	}

}
.fiche-title{
	h2{
		width: 70%;
		text-align: left;
	}
}
.informations{
	padding:0 2%;
	border: 1px solid $colorSite;
	ul{
		width: 100%;
		li{
			display: inline-block;
			width: 29%;
			margin: 2% 0;
			padding: 2% 10%;
			background-repeat: no-repeat;
			background-position: top left;
		}
		.address{ background-image: url('../img/content/icons/adresse.png'); }
		.transport{ background-image: url('../img/content/icons/transport.png'); }
		.time{ background-image: url('../img/content/icons/horaire.png'); }
		.telephone{ background-image: url('../img/content/icons/telephone.png'); }
		.website{ background-image: url('../img/content/icons/website.png'); }
		.price{ background-image: url('../img/content/icons/price.png'); }
	}
}
.fiche-description{
	h3{
		margin-bottom: 15px;
	}
	p{
		line-height: 1.5em;
	}
}
.pictures{
	margin: 40px 0;
	img{
		display: block;
		width: 100%;
	}
}



/* ----------------------
== PAGE LA CLIQUE
---------------------- */
#team-content{
	.team-category{
		margin-bottom: 50px;
		.inline-block{
			width: 20%;
			margin: 2%;
			text-align: center;
			h3{
				margin: 20px 0 10px;
			}
			img{
				width: 100%;
			}
		}
	}
	.button{
		margin-bottom: 70px;
	}
}




/* ----------------------
== PAGE CONTACT
---------------------- */
#contact-content{
	form{
		margin-top: 40px;
	}
	input{
		padding: 3%;
	}
	input[id="subject"]{
		padding: 2%;
	}
	label[for="message"], label[for="subject"]{
		display: block;
		width: 100%;
	}
	label[for="name"]{
		margin-right: 5%;
	}
	textarea{
		display: block;
		width: 100%;
	}
	.inline-block{
		width: 47%;
	}		
}
.form-content{
	width: 45%;
	margin: 0 auto;
	label{
		display: block;
		margin-top: 25px;
	}
	.button{
		width: 50%;
		margin: 40px auto 70px;
		padding: 4%;
		cursor: pointer;
	}
	a{
		color: $colorSite;
	}
}



/* ----------------------
== PAGE CONNEXION
---------------------- */
#connect-content{
	.form-content{
		margin-top: 45px;
	}
}

/* ----------------------
== PAGE INSCRIPTION
---------------------- */
#inscription-content{
	p:last-child{
		margin-bottom: 70px;
	}
}


/* ----------------------------------------
== PAGE ARRONDISSEMENT
------------------------------------------- */

/* A REGARDER pour l'animation de la page en CSS3 */

#district-choice{
	position: relative;
	img{
		display: block;
		margin: 0 auto;
	}
	a{
		display: block;
		width: 100%;
		height: 100%;
		font-size: 0;
	}
	#nineteenth, #twentieth{
		position: absolute;
	}
	#nineteenth{
		top: 95px;
		right: 30%;
		width: 15%;
		height: 170px;
	}
	#twentieth{
		top: 36%;
		right: 27%;
		width: 12%;
		height: 150px;
	}
}


/*#district-choice:active {
	width: 100%;
	height: 60%;
	-ms-transform: translate(30px); /* IE 9 */
    /*-webkit-transform: translate(30px); /* Chrome, Safari, Opera */
    /*transform: translate(30px);
    /*-ms-transform: rotateY(80deg); /* IE 9 */
    /*-webkit-transform: rotateY(80deg); /* Chrome, Safari, Opera */
    /*transform: rotateY(80deg);

    -webkit-transition : transform 5s;
    transition : transform 5s;
}*/


#theme-choice{
	width: 60%;
	margin: 0 20%;
}

#theme-choice .video-js {
	padding-top: 56.25%;
}

#theme-choice .vjs-fullscreen-control { display: none; }
#theme-choice .vjs-volume-control { margin-right: 2%;}

#theme-choice .vjsfullscreen {
	padding-top: 0px;
}

#theme-button ul > li {
	display: block;
	float: left;
	width: 40%;
	margin-right: 20%;
	cursor: pointer;
		h3{
			text-align: center;
			padding: 5%;
			background-color: $colorSite;
			color: #FFF;
		}
}

#theme-button ul > li:last-child {
	margin-right: 0;
}

#video-nature, #video-partage{
	position: relative;
}

.popup {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	margin: 10% 0;
	padding: 15% 0;
}

.popup p {
	width: 39%;
	margin: 0 5%;
}

.popup p a {
	width: 80%;
	padding: 5%;
}

.hidden {
	display: none;
}

.show {
	display: block;
}



/* ----------------------
== PAGE USER PROFIL
---------------------- */
#user-content{
	.inline-block{
		width: 29%;
		margin: 2% 1.6%;
		h4{
			margin-bottom: 15px;
			font-size: 1.25em;
		}
		input{
			padding: 2%;
		}
		.button{
			width: 65%;
			margin: 3% auto;
		}
	}
}



/* ----------------------
== PAGE VALIDATION
---------------------- */
#validation-content{
	width: 60%;
	margin: 0 auto;
	h3, h4{
		margin: 30px 0;
		text-align: center;
	}
	.social-networks{
		margin: 0 auto 45px;
		text-align: center;
		a:before{
			font-size: 30px;
		}
	}
}
#message-validation{
	width: 45%;
	margin: 0 auto 70px;
}

 

/* ----------------------
== PAGE ESPACE TICKET
---------------------- */
.purchase-content{
	width: 75%;
	margin: 0 auto;
}
.steps-purchase{
	margin-bottom: 70px;
	text-align: center;
	font-size: 2em;
	color: #fff;
	li{
		margin: 0 1%;
		padding: 1% 2%;
		background-color: $colorHover;
		border-radius: 50%;
	}
	.current{
		background-color: $colorSite;
	}
}
#tickets-content{
	h3{
		margin-bottom: 25px;
	}
	h4{
		margin-bottom: 15px;
		font-size: 1.25em;
	}
	.button{
		margin: 30px 0 70px 0;
	}
	.ticket{
		padding: 2% 0;
		border-top: 3px solid $colorSite;
		.inline-block{
			width: 70%;
			label{
				width: 48%;
				margin: 0 1.6% 2% 0;
				font-size: 1em;
			}
			input{
				margin: 2% 0;
				font-size: 1em;
			}
			p.quantity{
				margin-bottom: 40px;
			}
			p{
				margin-bottom: 25px;
			}
		}
		.ticketPrice.inline-block{
			width: 29%;
			text-align: right;
			p.price{
				margin-bottom: 15px;
				font-size: 1.5em;
				font-weight: bold;
			}
			a{
				text-transform: uppercase;
				font-size: 1em;
			}
		}
		input[type="submit"]{
			margin-left: 0;
			width: 40%;
			margin-top: 15px;
			margin-bottom: 15px;
			padding: 2%;
			cursor: pointer;
		}
	}
	#total-amount{
		text-align: right;
		font-size: 1.25em;
		font-weight: bold;
		color: $colorSite;
	}
}


/* ----------------------
== PAGE FACTURATION
---------------------- */
#billing-content{
	width: 80%;
	margin: 0 auto;
	h3{
		margin: 30px 0;
	}
	h4{
		margin: 30px 0 15px;
		font-weight: bold;
		font-size: 1em;
	}
	.button{
		width: 45%;
		margin: 30px 0 70px;
		padding: 3%;
	}
}
#payment{
	width: 60%;
	margin-right: 13%;
	form label {
		width: 47%;
		margin: 0 2% 3% 0;
		font-size: 1em;
	}
	form label[for="address"] {
		width: 100%;
	}
	form label #address, form label #email{
		width: 97%;
		padding: 2% 1%;
	}
	form label input{
		margin-top: 2%;
		font-size: 1em;
		padding: 3%;
	}
	input[type="radio"] {
		width: 5%;
	    cursor: pointer;
	}
	#payment-choice{
		label{
			width: 20%;
		}
	}
}
#order-summary {
	width: 25%;
	margin-top: 30px;
	padding: 5px;
	background-color: rgba(249,196,171,0.5);
	h3{
		margin-top: 0;
	}
	p:last-child{
		margin : 5% 0;
		border-top: 2px solid $textColor;
		padding-top: 3%;
		text-transform: uppercase;
	}
	span{
		font-weight: bold;
	}
	#sum{
		font-size: 1.3em;
		margin: 10px 0;
	}
}


.place img {
	max-width: 300px;
}
#map {
	height: 400px;
	width: 100%;
}

/* ----------------------------------------
== Helper
------------------------------------------- */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.lt-ie8 .clearfix {
    zoom: 1;
}
.list-inline {
    padding-left: 0;
    /*font-size: 1px;*/
    letter-spacing: -1px;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    /*font-size: 14em;*/
    letter-spacing: normal;
    vertical-align: middle;
}
.lt-ie8 .list-inline > li {
    display: inline;
    zoom: 1;
}
.list-inline > li {
    margin-right: 5px;
}
.list-inline > li:last-child {
    margin-right: 0;
}






/* ----------------------------------------
== Waiting page
------------------------------------------- */
#waiting > section{
	max-width: 480px;
	margin: 0 auto;
	padding: 5% 1% 1%;
	background-color: rgba(255,255,255,0.6);
}
#waiting header{
	margin-bottom: 35px;
	text-align: center;
}
/*footer{
	margin: 10% 0 0;
	text-align: center;
	font-size: 0.9em;	
}*/
#waiting h1{
	font-size: 0;
}
#waiting h2{
	font-size: 2em;
	font-weight: bold;
	margin: 10px 0 15px;
	text-align: center;
	font-family: 'dinpro';
}

#waiting h3{
	font-size: 1em;
	text-align: center;
	font-family: 'dinpro';
}

#waiting p{
	font-size: 1em;
	margin-bottom: 15px; 
}
#waiting p a{
	color: #dd6b70;
}
#waiting p a:hover{
	color: #dd6b70;
	transition: all 0.2s ease-in-out;
}
#waiting label{
	display: block;
	margin: 5% 0 1%;
	font-size: 1em;
}
#waiting input{
	display: block;
	width: 100%;
	padding: 2%;
	border: 1px #000 solid; 
	border-radius: 3px;
	font-size: 1em;
}
#waiting input:focus{
	outline: none;
	border: 1px #dd6b70 solid;
}
#waiting input[type="submit"]{
	margin: 8% 0 4%;
	background-color: #dd6b70;
	border: 1px solid #dd6b70;
	text-align: center;
	color: #fff;
	font-size: 1.6em;
	cursor: pointer;
}
#waiting input[type="submit"]:hover{
	background-color: #dd6b70;
	border: 1px solid #dd6b70;
	transition: all 0.2s ease-in-out;
}
#reseaux{
	width: 46%;
	margin: 25px auto;
}	
#reseaux li{
	display: inline-block;
	margin: 0 5%;
}
#reseaux a{
	display: block;	
	font-size: 0;
	color: #dd6b70;
	text-decoration: none;
}
#reseaux a:hover{
	color: #ec6570;
}
#reseaux a:before {
	font-family: 'reseaux';
	font-size: 30px;
}








