/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";



$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$rouge: red;
$noir: #000;
$pinklogo: #ec6570;

.clear {
	clear:both;
}

@font-face {
	font-family: 'reseaux';
	src: url('../font/reseaux/reseaux.eot');
	src: url('../font/reseaux/reseaux.eot#iefix') format('embbed-opentype'),
		url('../font/reseaux/reseaux.woff') format('woff'),
		url('../font/reseaux/reseaux.ttf') format('truetype'),
		url('../font/reseaux/reseaux.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

header {
	ul.wrapper{
	width:100%;
		li{
			float:left;
			width: 12.5%;
		}
	}
}

.place img {
	max-width: 300px;
}
#map {
	height: 400px;
	width: 100%;
}

/*** Page Waiting ***/
#waiting {
	background: url("../img/fond-loading-atmosphere.jpg") no-repeat top center;
}
#waiting > section{
	width: 480px;
	margin: 0 auto;
	padding: 5% 1% 1%;
	background-color: rgba(255,255,255,0.6);
}
#waiting header{
	margin-bottom: 35px;
	text-align: center;
}
footer{
	margin: 10% 0 0;
	text-align: center;
	font-size: 0.9em;	
}
#waiting h1{
	font-size: 0;
}
#waiting h2{
	font-size: 2em;
	font-weight: bold;
	margin: 10px 0 15px;
}
#waiting p{
	font-size: 1em;
	margin-bottom: 15px; 
}
#waiting p a{
	color: #dd6b70;
}
#waiting p a:hover{
	color: #dd6b70;
	transition: all 0.2s ease-in-out;
}
#waiting label{
	display: block;
	margin: 5% 0 1%;
	font-size: 1.1em;
}
#waiting input{
	display: block;
	width: 100%;
	padding: 2%;
	border: 1px #000 solid; 
	border-radius: 3px;
	font-size: 1em;
}
#waiting input[type="submit"]{
	margin: 8% 0 4%;
	background-color: #dd6b70;
	border: 1px solid #dd6b70;
	text-align: center;
	font-weight: bold;
	color: #fff;
	font-size: 1.6em;
	cursor: pointer;
}
#waiting input[type="submit"]:hover{
	background-color: #dd6b70;
	border: 1px solid #dd6b70;
	transition: all 0.2s ease-in-out;
}
#reseaux{
	width: 46%;
	margin: 25px auto;
}	
#reseaux li{
	display: inline-block;
	margin: 0 5%;
}
#reseaux a{
	display: block;	
	font-size: 0;
	color: #dd6b70;
	text-decoration: none;
}
#reseaux a:hover{
	color: $pinklogo;
}
#reseaux a:before {
	font-family: 'reseaux';
	font-size: 30px;
}
.facebook:before { content: "\e800"; }
.google:before { content: "\e801"; }
.pinterest:before {	content: "\e802"; }
.twitter:before { content: "\e803"; }










